<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>
<main class="clientsBody">
    <h1>Clientes</h1>
    <table  class="clientTable">
        <thead>
            <tr>
                <th></th>
                <th>NOME:</th>
                <th>C.P.F.</th>
                <th>ENDEREÇO</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(function(cliente){ %>
                <tr>
                    <td><img src="<%= cliente.profilePic %>" alt=""></td>
                    <td><%= cliente.nome %></td>
                    <td><%= cliente.cpf %></td>
                    <td><%= cliente.endereco %></td>
                    <td class="btnsActionsClientes">
                        <a class="editarCliente" href="/clientes/edit/<%= cliente.id %>">EDITAR</a>
                    </td>
                    <td class="btnsActionsClientes">
                        <a class="deletarCliente" href="/clientes/delete/<%= cliente.id %>" onclick="return confirm('Tem certeza que deseja excluir o cadastro do cliente: <%= cliente.nome %>?')">EXCLUIR</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4"></th>
            </tr>
        </tfoot>
    </table>
    <form class="formCadastroClientes" action="/clientes/new" method="POST">
        <div class="nomeClientes">
            <label for="nome">Nome do cliente</label>
            <input type="text" name="nome" id="nome" placeholder="insira o nome do cliente" required>
        </div>
        <div class="cpfClientes">
            <label for="cpf">CPF do cliente</label>
            <input type="text" name="cpf" id="cpf" placeholder="insira o cpf do cliente" required>
        </div>
        <div class="enderecoClientes">
            <label for="endereco">Endereço do cliente</label>
            <input type="text" name="endereco" id="endereco" placeholder="insira o endereco do cliente" required>
        </div>
        <input class="btnCadastroClientes" type="submit" onclick="return confirm('Cadastrar cliente novo?')" value="CADASTRAR">
    </form>
</main>
<%- include ('partials/footer.ejs') %>