<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>
<main class="produtBody">
    <div id="switchList" class="containerProdutosList" style="display: inline-flex;">
        <div class="header">
            <h1>Produtos</h1>
            <button id="listBtn" class="btnList gray" onclick="lista()"><img src="imgs/menuLista.webp" alt="LISTA"></button>
            <button id="gridBtn" class="btnGrid transparent" onclick="grade()"><img src="imgs/menuGrade.webp" alt="GRADE"></button>
        </div>
        <% produtos.forEach(function(produto){ %>
            <div class="cardProdutosList">
                <div class="imgProdList">
                    <img src="<%= produto.imgProd %>" alt="">
                </div>
                <div class="descProdList">
                    <label for=""><%= produto.nomeProd %></label>
                </div>
                <div class="precoCatProd">
                    <div class="precoProd">
                        <p><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></p>    
                    </div>
                    <div class="catProd">
                        <p><%= produto.categoria %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<div id="switchGrid" class="containerProdutos" style="display: none;">
    <div class="header">
        <h1>Produtos</h1>
        <button id="listBtn-2" class="btnList gray" onclick="lista()"><img src="imgs/menuLista.webp" alt="LISTA"></button>
        <button id="gridBtn-2" class="btnGrid transparent" onclick="grade()"><img src="imgs/menuGrade.webp" alt="GRADE"></button>
    </div>
    <% produtos.forEach(function(produto){ %>
        <div class="cardProdutos">
            <div class="imgProd">
                <img src="<%= produto.imgProd %>" alt="">
            </div>
            <label for=""><%= produto.nomeProd %></label>
            <p class="preco"><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></p>
            <p class="cat"><%= produto.categoria %></p>
        </div>
    <% }) %>
    
</div>
</main>
<%- include ('partials/footer.ejs') %>